<div class="row" style="margin-right: 0px; margin-left: 0px">
    <div class="col-md-1 col-sm-1 col-xs-1" style="background-color: black; padding: 5px 0 5px 0;">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="background-color: blue; padding: 5px 0 5px 0;">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="background-color: red; padding: 5px 0 5px 0;">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="background-color: teal; padding: 5px 0 5px 0;">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="background-color: magenta; padding: 5px 0 5px 0;">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="background-color: maroon; padding: 5px 0 5px 0;">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="background-color: black; padding: 5px 0 5px 0;">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="background-color: blue; padding: 5px 0 5px 0;">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="background-color: red; padding: 5px 0 5px 0;">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="background-color: teal; padding: 5px 0 5px 0;">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="background-color: magenta; padding: 5px 0 5px 0;">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="background-color: maroon; padding: 5px 0 5px 0;">
    </div>
    <div class="container">
        <p class="lead text-center">Automatic Fruit Classifer Using AdaBoost <br>
                    <small>This system predicts either <b>Apple, Avocado, Banana, Coconut or Oranges</b></small>
        </p>
    </div>
</div>
